/notebooks/.ipynb_checkpoints/
/notebooks/09-preductions-OLD.ipynb
/.virtual_documents/
/notebooks/10-classification-Copy1.ipynb
/notebooks/Untitled.ipynb
/notebooks/src/slopes.1
/notebooks/src/slopes.log
/notebooks/src/slopes.mpx
/notebooks/Untitled1.ipynb
/.ipynb_checkpoints/
